.allEvents{
    z-index: 10;
    max-width: 300px;
    padding: 25px;
    transform: scale(0.5);
    border: 2px solid black;
    transition: 0.4s all;
    background-color: aliceblue;
    display: block;
    margin: 5px;
}

.allEvents.active{
    transform: scale(1);
}

.FormInput {
    width: 250px;
    padding: 10px;
    border: 2px solid black;
    margin-bottom: 10px;
}

.FormTextarea {
    width: 250px;
    height: 100px;
    padding: 10px;
    border: 2px solid black;
    margin-bottom: 10px;
    resize: none;
}

.picker {
    width: 250px;
    padding: 10px;
    border: 2px solid black;
    margin-bottom: 10px;
}

.btns {
    display: flex;
    max-width: 250px;
}

.btn {
    width: 100%;
    padding: 10px;
    color: white;
    background-color: rgb(134, 45, 128);
    border: 2px solid black;
    cursor: pointer;
    margin-right: 5px;
}

.blocksavebtn {
    width: 100%;
}

.delbtn {
    width: 100%;
    padding: 10px;
    color: white;
    background-color: red;
    border: 2px solid black;
    cursor: pointer;
}