.App {
  text-align: center;
}

.create-event{
  display: none;
}

.create-event.active{
  display: block;
}

.nonactivebtn {
  display: none;
}

.all-event{
  display: none;
}

.all-event.active{
  display: block;
}